<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobmart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobMart">
        <activity android:name=".ChatLogActivity"></activity>
        <activity android:name=".ViewUserActivity" />
        <activity android:name=".LatestMessageActivity" />
        <activity android:name=".LAtestMEssageActivity" />
        <activity android:name=".NewMessageActivity" />
        <activity android:name=".Single_message" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".EditProfile" />
        <activity android:name=".UserInfo" />
        <activity android:name=".CreateJob" />
        <activity android:name=".Message" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Signup" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>